https://www.kaggle.com/yassinehamdaoui1/creating-tf-idf-model-from-scratch

In [1]:
import pandas as pd
import sklearn as sk
import math

In [2]:
sentence1 = "love is like pi natural irrational and very important"
sentence2 = "love is being stupid together"
sentence3 = "love is sharing your popcorn"
sentence4 = "love is like heaven but it can hurt like hell"

#split so each word have their own string
sentence1 = sentence1.split(" ")
sentence2 = sentence2.split(" ")
sentence3 = sentence3.split(" ")
sentence4 = sentence4.split(" ")

#join them to remove common duplicate words
total= set(sentence1)
total = total.union(set(sentence2))
total = total.union(set(sentence3))
total = total.union(set(sentence4))

print(total)

{'is', 'sharing', 'very', 'being', 'it', 'stupid', 'irrational', 'love', 'pi', 'popcorn', 'important', 'can', 'like', 'natural', 'your', 'and', 'hurt', 'together', 'but', 'heaven', 'hell'}

In [3]:
import nltk
from nltk.corpus import stopwords
stop_list = set(stopwords.words('english'))
#stop_list

In [4]:
filtered_total = []

for word in total:
    if str(word) not in set(stopwords.words('english')):
        filtered_total.append(word)
total = filtered_total
total

['sharing',
 'stupid',
 'irrational',
 'love',
 'pi',
 'popcorn',
 'important',
 'like',
 'natural',
 'hurt',
 'together',
 'heaven',
 'hell']

In [5]:
wordDict1 = dict.fromkeys(total, 0) 
wordDict2 = dict.fromkeys(total, 0)
wordDict3 = dict.fromkeys(total, 0)
wordDict4 = dict.fromkeys(total, 0)

for word in sentence1:
    if word in total:
        wordDict1[word]+=1
    
for word in sentence2:
    if word in total:
        wordDict2[word]+=1

for word in sentence3:
    if word in total:
        wordDict3[word]+=1

for word in sentence4:
    if word in total:
        wordDict4[word]+=1

In [6]:
#reference only
'''
sentence1 = "love is like pi natural irrational and very important"
sentence2 = "love is being stupid together"
sentence3 = "love is sharing your popcorn"
sentence4 = "love is like heaven but it can hurt like hell"
'''
# create data frame
pd.DataFrame([wordDict1, wordDict2,wordDict3,wordDict4])

,sharing,stupid,irrational,love,pi,popcorn,important,like,natural,hurt,together,heaven,hell
0,0,0,1,1,1,0,1,1,1,0,0,0,0
1,0,1,0,1,0,0,0,0,0,0,1,0,0
2,1,0,0,1,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,2,0,1,0,1,1

In [7]:
def computeTF(wordDict, this_doc):
    tfDict = {}
    doc_len = len(this_doc)
    for word, count in wordDict.items():
        tfDict[word] = count/float(doc_len)
    return(tfDict)

In [8]:
#running our sentences through the tf function:
tf1 = computeTF(wordDict1, sentence1)
tf2 = computeTF(wordDict2, sentence2)
tf3 = computeTF(wordDict3, sentence3)
tf4 = computeTF(wordDict4, sentence4)

#Converting to dataframe for visualization
tf = pd.DataFrame([tf1, tf2,tf3,tf4])
tf

,sharing,stupid,irrational,love,pi,popcorn,important,like,natural,hurt,together,heaven,hell
0,0.0,0.0,0.111111,0.111111,0.111111,0.0,0.111111,0.111111,0.111111,0.0,0.0,0.0,0.0
1,0.0,0.2,0.000000,0.200000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.2,0.0,0.0
2,0.2,0.0,0.000000,0.200000,0.000000,0.2,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.100000,0.000000,0.0,0.000000,0.200000,0.000000,0.1,0.0,0.1,0.1

In [9]:
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    # print(idfDict)
    for word, val in idfDict.items():
        for doc in docList:
            if doc[word] >=1 :
                idfDict[word] = idfDict[word]+1
            
    print(idfDict)
    for word, val in idfDict.items():
        # idfDict[word] = math.log10(N/ (float(val) + 1))
        if( val ==0 ):
            idfDict[word] = math.log10(N/ (float(val) + 1))
        else:
            idfDict[word] = math.log10(N/ (float(val)))
            # 此处没有不在文档集出现过的query word，所以分母不加1
            # 如果加1，love单词的idf为log(4/5)为一个负数
    return(idfDict)

In [10]:
#inputing our sentences in the log file
print("wordDict1",wordDict1)
print("wordDict2",wordDict2)
print("wordDict3",wordDict3)
print("wordDict4",wordDict4)

wordDict1 {'sharing': 0, 'stupid': 0, 'irrational': 1, 'love': 1, 'pi': 1, 'popcorn': 0, 'important': 1, 'like': 1, 'natural': 1, 'hurt': 0, 'together': 0, 'heaven': 0, 'hell': 0}
wordDict2 {'sharing': 0, 'stupid': 1, 'irrational': 0, 'love': 1, 'pi': 0, 'popcorn': 0, 'important': 0, 'like': 0, 'natural': 0, 'hurt': 0, 'together': 1, 'heaven': 0, 'hell': 0}
wordDict3 {'sharing': 1, 'stupid': 0, 'irrational': 0, 'love': 1, 'pi': 0, 'popcorn': 1, 'important': 0, 'like': 0, 'natural': 0, 'hurt': 0, 'together': 0, 'heaven': 0, 'hell': 0}
wordDict4 {'sharing': 0, 'stupid': 0, 'irrational': 0, 'love': 1, 'pi': 0, 'popcorn': 0, 'important': 0, 'like': 2, 'natural': 0, 'hurt': 1, 'together': 0, 'heaven': 1, 'hell': 1}

In [11]:
idfs = computeIDF([wordDict1, wordDict2,wordDict3,wordDict4])
idfs

{'sharing': 1, 'stupid': 1, 'irrational': 1, 'love': 4, 'pi': 1, 'popcorn': 1, 'important': 1, 'like': 2, 'natural': 1, 'hurt': 1, 'together': 1, 'heaven': 1, 'hell': 1}

{'sharing': 0.6020599913279624,
 'stupid': 0.6020599913279624,
 'irrational': 0.6020599913279624,
 'love': 0.0,
 'pi': 0.6020599913279624,
 'popcorn': 0.6020599913279624,
 'important': 0.6020599913279624,
 'like': 0.3010299956639812,
 'natural': 0.6020599913279624,
 'hurt': 0.6020599913279624,
 'together': 0.6020599913279624,
 'heaven': 0.6020599913279624,
 'hell': 0.6020599913279624}

In [12]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)

#running our sentences through the IDF:
tfidf1 = computeTFIDF(tf1, idfs)
tfidf2 = computeTFIDF(tf2, idfs)
tfidf3 = computeTFIDF(tf3, idfs)
tfidf4 = computeTFIDF(tf4, idfs)

#putting it in a dataframe
tfidf= pd.DataFrame([tfidf1, tfidf2,tfidf3,tfidf4 ])
tfidf

,sharing,stupid,irrational,love,pi,popcorn,important,like,natural,hurt,together,heaven,hell
0,0.000000,0.000000,0.066896,0.0,0.066896,0.000000,0.066896,0.033448,0.066896,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.120412,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.120412,0.000000,0.000000
2,0.120412,0.000000,0.000000,0.0,0.000000,0.120412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.060206,0.000000,0.060206,0.000000,0.060206,0.060206